@{
    ViewBag.Title = "Comment";
}
@using SelfWork_1.Models.Comments;
@model IEnumerable<Comment>
<style>
    main{
        margin:auto;
        display:flex;
    }
    .comment {
        position: absolute;
        right: 2%;
        top: 100%;
       
    }
</style>
<main class="col">
    <ol>
        @foreach (Comment item in Model)
        {
            <li style="display:flex;">
                <div style="justify-content:start;">
                    <p>@item.Nickname:</p>
                    <p>@item.Date</p>
                </div>
                <div style="justify-content:end;">
                    <p>@item.Text</p>
                </div> 
            </li>
        }
    </ol>
    <div class="comment">
        <p style="color:white;font-size:15px;font-weight:100;padding-right:150px">Можете добавить свой комментарий</p>
        @using (Html.BeginForm())
        {
            @Html.Hidden("Date", Model.ToList().Count + 1);
            <div class="input-group flex-nowrap bg-transparent" style="margin:auto;">
                <div class="input-group-prepend bg-transparent">
                    <span class="input-group-text bg-transparent" id="addon-wrapping" style="color:white">N</span>
                </div>
                <input type="text" class="form-control" placeholder="Nickname" aria-label="Nickname" aria-describedby="addon-wrapping" name="Nickname" required>
            </div>
            <textarea class="bg-transparent" name="Text" style="margin-top:2%;border-radius:5px;width:60%;height:120px;border-color:white;" required></textarea><hr style="border-color:white;">
            <input type="submit" style="margin:10px;" />
        }
    </div>
</main>